.my-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.left-container,
.right-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-container {
  background-color: wheat;
  flex-direction: column;
}

.right-container {
  background-color: tomato;
}

.img-container {
  text-align: start;
  display: flex;
  flex-direction: column;
}
.img-container h5 {
  margin-left: 2%;
}
.form-description {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.form-description img {
  position: absolute;
  height: 50%;
  flex: 0.6;
  width: 10%;
}

.form-description input {
  outline: none;
  text-align: start;
  flex: 9.4;
  border-radius: 30px;
  padding-left: 10%;
  border-color: #7c3aed; /* 紫色邊框 */
  box-shadow: 0 0 0 3px rgba(124, 58, 237, 0.2); /* 外圈亮光效果 */
}

.check-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: start;
}
.check-box .check-box-text {
  text-align: start;
}

.check-box .check-box-group {
  display: flex;
  flex-wrap: wrap;
}

.input-group textarea {
  height: 200px;
}
/* right-container Setup*/
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.right-container .form-information {
  width: 100%;
}

/* 手機 RWD 設定 */
@media screen and (max-width: 390px) {
  .my-container {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200vh;
    width: 100%;
  }
  .left-container {
    height: 100vh;
  }
  .left-container h1 {
    padding: 1rem;
  }
  .left-container .form-floating {
    margin: 0;
  }
  .left-container .input-group textarea {
    height: 190px;
  }
  .right-container {
    height: 100vh;
    width: 100%;
  }
}
